/* Colors */

:root {
  --clr-yellow: hsl(47, 88%, 63%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(0, 0%, 50%);
  --clr-black: hsl(0, 0%, 7%);
}

/* Basic styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  color: var(--clr-black);
  background-color: var(--clr-yellow);
}

img {
  display: block;
  max-inline-size: 100%;
}

a {
  text-decoration: none;
}

/* Main page */

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 100vh;
  padding: 24px;
}
